@import url('https://fonts.googleapis.com/css?family=Sansita');

* {
    box-sizing: border-box; /* changes width property
    to total width instead of content width */
    }

    article,
    aside,
    footer,
    header,
    nav,
    section,
    main,
    figcaption,
    figure {
    display: block; /* just in case we have
    any older browsers that don't recognize
    the HTML5 semantic elements */
    }

    body {
    margin: 0; /* remove any margin from body */
    padding: 0; /* ditto for padding */
    background-color: salmon;
    font-size: 20px;
    }
main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: url("sunny-winter.jpg");
    background-size: cover;
}
ul {
    display: flex;
}
nav {
    background-color: lightpink;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.title h1 + h1 {
    text-align: right;
    margin-top: -.7em;
}
.current {
    visibility: hidden;
}


/*styles*/

h1,
h2,
h3
{
    background-color: #CCFFCC;
    font-family: Sansita, "second choice", generic-family;
}
footer {
    background-color: gray;
}
header {
    background-color: lavenderblush;
}
nav a:link {
    text-decoration: none;
    color: #47556F;
}
