

html{

    background-image: url(images/site/background.jpg);
        background-size: cover;
    background-repeat: no-repeat;
}
nav ul{
    background-color: red;
    justify-content: space-between;
    padding: 1em;
    /*make nav bar stay on screen for mobile
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    */
}
nav ul li{display:inline-flex;
    justify-content: space-between;
    margin-left: 3em;
    font-family: sans-serif;
    font-size: 18pt;
}
nav li{
    color: white;
    text-decoration: none;
}
nav a{
    color: white;
    text-decoration: none;
}
.imageText li{
    list-style-type: none;
    background-size: contain;
}
h1{
    font-size: 35pt;
margin-top: -.5em;
    margin-bottom: -.1em;
}
h2{
    margin: 0;
}
/* make images in grid*/
.recipes{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    width: 40%;
    margin-bottom: 2.5em;

}
.recipes h3{
    font-size: 22pt;
    font-family: sans-serif;
}
.box{
  display: flex;
}
.imageText{
    color: red;
    position: relative;
left: 50%;
    bottom: 13em;
    font-family: sans-serif;
    font-size: 2.5vw;
    margin-bottom: -8.5em;
    background-size: contain;
    /*transform: translate(-50%, -50%);*/
}
.navbar li{
    font-size: 2.2vw;
}
/*image captions centered*/
.heading{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
/*make the image captions be right*/
figure figcaption{
    width: 140px;
}
/* gray background behind images*/
figure img{
    background: gray;
    padding-left: 2em;
    padding-right: 2em;
}
.feature{
    width: 100%;
    position: relative;
}
/*white body background*/
body {
    width: 80%;
    background: white;
    margin-left: 10%;
    padding: 1em;
}


.reviews{
    font-size: 19px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}
#reviewList{
    list-style-type: none;
}
footer{
    text-align: center;
    line-height: 100%;
    border-top: 5px solid;
}

/* For mobile phones: */

@media only screen and (max-width: 650px) {


    .iwant {
        width: 70px;
    }
    #anvils {
        width: 15px;
    }
    #explosives {
        width: 15px;
    }
    #decoys {
        width: 15px;
    }
    #traps {
        width: 15px;
    }
    #home {
        width: 15px;
        text-align: left;
    }
    .logo {
        width: 200px;
    }
    .imageText {
        width: 200px;
    }}







#description {
    height: 300px;
    background-repeat: no-repeat;
    list-style: none;
    font-family: sans-serif;
    justify-content: flex-end;
    margin-left: 8%;
    padding-right: 8%;
    justify-content: flex-end;
    font-size: 40px;

}

#manufacturer {
    width: 100%;
    font-size: 30px;
    font-family: sans-serif;
}

#price {
    display: flex;
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 5px;
    color: red;
    font-weight: bolder;
}

#path {
    height: 300px;
    width: 60%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 30%;

}


* {
    box-sizing: border-box;
}

[class*="col-"] {

    padding: 15px;
float: left;
}

.recipes {
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    margin-bottom: 2.5em;

    margin: 0;
    padding: 0;

}

.reviews {
    display: flex;
    list-style-type: none;
position: relative;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    .col-3 {width:60%;}

}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;

    }
    .col-3 {width: 80%;}
}
